/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  background: linear-gradient(#F35943, #EC3748);
  min-height: 100vh;
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
  width: 500px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
